.learn-code {
  background-color: #f5f5f5;
}

.learn-code-img {
  background-image: url("../img/1000x700x1.jpg");
  background-position: center center;
  background-size: cover;
}

.learn-code-content {
  padding: 80px 40px 80px 90px;
}
