.shuttle-desc-img {
  background-image: url("../img/1000x700x1.jpg");
  background-position: center center;
  background-size: cover;
}

.shuttle-desc-content {
  padding: 80px 40px 80px 40px;
  h2,
  h4,
  p,
  i {
    color: $text-light;
  }
  h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
    text-align: left;
  }
  p {
    margin: 0;
  }
  hr {
    border: solid $second-color 2px;
    margin: 0;
    width: 100px;
  }
  ul {
    padding-left: 40px;
    li {
      h4 {
        margin: 0;
        padding-top: 10px;
      }
      margin: 30px 0;
      i {
        width: 2.9em;
      }
    }
  }
}
