.shuttle-desc-img {
  background-image: url("../img/features/mindset-coder.jpg");
}

.shuttle-desc-content {
  i {
    color: $text-light;
  }
  h2,
  h4,
  p {
    color: $text-light;
  }
  hr {
    border: solid $second-color 2px;
  }
  ul {
    padding-left: 40px;
    li {
      h4 {
        margin: 0;
        padding-top: 10px;
      }
      margin: 30px 0;
      i {
        width: 2.9em;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
