// GENERIC

.course-pres-col {
  height: 662px;
}

.the-adventure-img,
.learn-code-img,
.shuttle-desc-img {
  background-position: center center;
  background-size: cover;
}

.the-adventure-content,
.shuttle-desc-content {
  background-color: $dark-color;
}


.the-adventure-content,
.learn-code-content,
.shuttle-desc-content {
  padding: 80px 40px;
  h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
    text-align: left;
  }
  p {
    margin: 0;
  }
  hr {
    margin: 0;
    width: 100px;
  }
}

// BLOC 1
.the-adventure-img {
  background-image: url("../img/features/coworking.jpg");
}

.the-adventure-content {
  h2,
  h4,
  p {
    color: $text-light;
  }
  hr {
    border: solid $second-color 2px;
  }
}

.features {
  .icon {
    color: $text-light;
    float: left;
    font-size: 35px;
    margin: 0 auto;
  }
  .info {
    margin-left: 50px;
  }
}

.features-first {
  border-bottom: 1px solid $text-light;
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 20px;
  padding-bottom: 25px;
}
