.top-bar {
  width: 100%;
	background-color: $dark-color;
}

.tage-line {
	color: $text-light;
	font-size: 14px;
	width:auto;
	display: inline-block;
	padding:15px 0px;
	float: left;
  margin: 0;
  line-height: 1.3rem;
}

.phone-number,
.email-address {
  float: right;
  padding: 15px 15px;
  border-left: 1px solid $bg-dark;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  a {
    color: $text-light !important;
    i {
      margin-right: 8px;
    }
  }
}
