body {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
  color: black;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: normal;
}

.headingH {
  font-size: 2rem;
  color: #6b6b6b;
  padding-bottom: 30px;
  text-align: center;
}

.typed {
  font-size: 1.9em;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading {
  padding-bottom: 0;
}

.learn-code {
  h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  h5 {
    color: #008ed6;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    margin: 0;
  }
}

.section-3-bg {
  h2 {
    color: #fff;
  }
  h4 {
    color: #fff;
    margin-top: 0;
  }
  p {
    color: #fff;
  }
}

.navbar-right {
  li {
    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        //color: #1B99B9;
      }
    }
  }
}
