$main-color: #1797D4;
$second-color: #F4B737;
$third-color: #444C60;

$dark-color: #1f2229;

// BACKGROUND
$bg-light: #fff;
$bg-dark: $third-color;

// TEXTS
$text-light: #fff;
$text-gray: shade($text-light, 20%);

$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$meetup-color: #e0393e;
$linkedin-color: #00a0dc;
$youtube-color: #cd201f;
