$main-color: #1797D4;
$second-color: #F4B737;
$third-color: #444C60;

$dark-color: #333;
$dark-color2: #555;

// BACKGROUND
$bg-light: #f8f8f8;
$bg-gray: #ccc;
$bg-dark: $third-color;
$bg-gray-light: #f5f5f5;
$bg-transparent: rgba(255, 255, 255, 0);

// TEXTS
$text-light: #fff;
$text-gray: rgba(255, 255, 255, 0.7);
$text-grayer: #888;
$text-dark: #000;

$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$meetup-color: #e0393e;
$linkedin-color: #00a0dc;
$youtube-color: #cd201f;

$html5-color: #e34f26;
//$css3-color: ;
$docker-color: #0db7ed;
$aws-color: #ff9900;
$react-color: #00d8ff;
