$main-color: #1797D4;
$second-color: #F4B737;
$third-color: #444C60;

$dark-color: #1f2229;

// BACKGROUND
$bg-light: #f8f8f8;
$bg-dark: $third-color;

// TEXTS
$text-light: #fff;
$text-gray: shade($text-light, 20%);
