article.shuttle-desc
  .col-sm-push-6.col-sm-6.shuttle-desc-content.course-pres-col
    .heading
      p Parce que tout le monde peut coder…
      h2 Shuttle Coder Academy, c'est…
    hr
    ul.fa-ul
      li
        i.fa-li.fa.fa-4x.fa-dashboard
        h4 Des formations adaptées à votre rythme
        p Un socle commun de formation est proposé dans les différents domaines de la programmation, mais vous aurez aussi accès à des spécialisations pour aller plus loin dans la maîtrise.
      li
        i.fa-li.fa.fa-4x.fa-group
        h4 Une communauté, une famille à vie
        p Découvrir, apprendre, travailler en équipe crée un esprit de groupe : "une famille". Pas de compétitions individuelles mais des challenges collectifs à relever avec votre "Team". 
      li
        i.fa-li.fa.fa-4x.fa-flask
        h4 Votre laboratoire pour construire vos projets
        p 
          |Envie de créer vos muses ? …de créer une startup ? …ou bien simplement votre société ?
          br
          | Construisez votre portfolio de projets, votre CV et recrutez… ou faites vous recruter.
      li
        i.fa-li.fa.fa-4x.fa-rocket
        h4 Un état d'esprit, un mindset de Hacker
        p Apprendre à apprendre et innover dans un esprit Hacker.
  .shuttle-desc-img.col-sm-pull-6.col-sm-6.no_padding.img-pres-col
