article.no_padding
  .desc-made-img.col-sm-6.no_padding.desc-made-col
  .col-sm-6.desc-section-1.desc-made-col
    .heading
      h2 Shuttle Coder Academy, c'est…
    ul.desc-3
      li
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
