article.the-adventure
  .the-adventure-img.col-sm-6.no_padding.course-pres-col
  .col-sm-6.the-adventure-content.course-pres-col
    .heading
      p Parce que tout le monde peut coder…
      h2 Deviens développeur web et mobile
    hr
    .features.features-first
      .col-md-6
        .icon
          i.fa.fa-graduation-cap
        .info
          h4 Des formations complètes
          p Tu vas acquérir les fondamentaux du dévelopement web et de la programmation sur les mobiles.
      .col-md-6
        .icon
          i.fa.fa-power-off
        .info
          h4 Bienvenue aux débutants
          p Pas besoin d'être un pro pour venir, nos cours sont adaptés aux parfaits débutants.<br>Les plus expérimentés peuvent se perfectionner.
    .features
      .col-md-6
        .icon
          i.fa.fa-briefcase
        .info
          h4 Accède aux métiers du numérique
          p Au travers de plusieurs technos du web et du mobile, on te donnes les outils pour les métiers de demain.
      .col-md-6
        .icon
          i.fa.fa-coffee
        .info
          h4 Apprend à coder, si si c'est facile
          p Que tu débutes par curiosité ou par vocation, tu vas à ton rythme et selon ton envie.
