article.shuttle-desc
  .col-xs-12.col-sm-6.shuttle-desc-content.course-pres-col
    .heading
      p Parce que tout le monde peut coder…
      h2 Shuttle Coder Academy, c'est…
    hr
    ul.fa-ul
      li
        i.fa-li.fa.fa-4x.fa-dashboard
        h4 Des formations adaptées à votre rythme
        p Apprenez plus vite en plongeant dans un écosystème entièrement dédié. Tout pour devenir un codeur accompli, les bonnes pratiques du développement web, le mind-set de startuper
      li
        i.fa-li.fa.fa-4x.fa-group
        h4 Une communauté, une famille à vie
        p Découvrir, apprendre, travailler en équipe crée un esprit de groupe : "une famille". Pas de compétitions individuelles mais des challenges collectifs à relever avec votre "Team".
      li
        i.fa-li.fa.fa-4x.fa-flask
        h4 Votre laboratoire pour construire vos projets
        p
          | Envie de créer vos muses ? …de créer une startup ? …ou bien simplement votre société ? Construisez votre portfolio de projets, votre CV et recrutez… ou faites vous recruter.
      li
        i.fa-li.fa.fa-4x.fa-rocket
        h4 Un état d'esprit, un mindset de Hacker
        p Apprendre à apprendre et innover dans un esprit Hacker.
  .col-xs-12.col-sm-6.shuttle-desc-img.no_padding.img-pres-col
