article.row.learn-code
  .col-sm-6.col-sm-push-6.no_padding.learn-code-img.course-pres-col
  .col-sm-6.col-sm-pull-6.no_padding.learn-code-content.course-pres-col
    h3 La programmation facile à votre portée
    p Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. End of content.<br> Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos.
    h5 They Are Ready To Work For Your Projects
    p Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. End of content.<br> Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos.
