article
  .job-made-img.col-sm-6.no_padding.job-made-col
  .col-sm-6.job-section-1.job-made-col
    .heading-div-dark
      h2 Shuttle Coder Academy, c'est…
      ul
        li:h4 tite 1
          p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
        li:h4 tite 1
          p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
        li:h4 tite 1
          p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
        li:h4 tite 1
          p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
