article.row.the-adventure.no_padding
  .the-adventure-img.col-sm-6.no_padding.course-pres-col
  .col-sm-6.the-adventure-content.course-pres-col
    .heading
      p Parce que tout le monde peut coder…
      h2 Shuttle Coder Academy, c'est…
    hr
    .features.features-first
      .col-md-6
        .icon
          i.fa.fa-laptop
        .info
          h4 Idées
          p We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.
      .col-md-6
        .icon
          i.fa.fa-laptop
        .info
          h4 Idées
          p We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.
    .features
      .col-md-6
        .icon
          i.fa.fa-laptop
        .info
          h4 Idées
          p We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.
      .col-md-6
        .icon
          i.fa.fa-laptop
        .info
          h4 Idées
          p We don't want to conquer the cosmos, we simply want to extend the boundaries of Earth to the frontiers of the cosmos.
