article.learn-code
  .col-sm-6.learn-code-content.course-pres-col
    .heading
      p Parce que tout le monde peut coder…
      h2 La programmation facile à votre portée
    hr
    .padding20
      p Agilité, adaptabilité, autonomie : aller à l'essentiel et devenir autonome très rapidement en programmation, c'est ce que ShuttleCoder vous apporte comme expertise.

      i.fa.fa-quote-left.fa-2x.fa-pull-left.fa-border(aria-hidden="true")
      i.fa.fa-quote-right.fa-2x.fa-pull-right.fa-border(aria-hidden="true")
      h4 Code ton produit et concrétise ton idée
      p En très peu de temps, vous serez en mesure de concevoir et de coder vous-même votre produit. Tous les outils, plein de bonnes pratiques et de ressources vous seront donnés pour vous accompagner dans la réalisation de votre projet.
  .col-sm-6.no_padding.learn-code-img.img-pres-col
