article.row.the-adventure.no_padding
  .the-adventure-img.col-sm-6.no_padding.course-pres-col
  .col-sm-6.the-adventure-content.course-pres-col
    .heading
      p Parce que tout le monde peut coder…
      h2 Shuttle Coder Academy, c'est…
    hr
    ul.fa-ul.desc-3
      li
        i.fa-li.fa.fa-4x.fa-building-o
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        i.fa-li.fa.fa-4x.fa-building-o
        h4 Des formations adaptées à votre rythme
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        i.fa-li.fa.fa-4x.fa-building-o
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        i.fa-li.fa.fa-4x.fa-building-o
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
