article.row.shuttle-desc.no_padding
  .shuttle-desc-img.col-sm-6.no_padding.course-pres-col
  .col-sm-6.shuttle-desc-content.course-pres-col
    .heading
      p Parce que tout le monde peut coder…
      h2 Shuttle Coder Academy, c'est…
    hr
    ul.fa-ul.desc-3
      li
        i.fa-li.fa.fa-4x.fa-dashboard
        h4 Des formations adaptées à votre rythme
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        i.fa-li.fa.fa-4x.fa-group
        h4 Une communauté, une famille à vie
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        i.fa-li.fa.fa-4x.fa-flask
        h4 Votre laboratoire pour construire vos projets
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        i.fa-li.fa.fa-4x.fa-rocket
        h4 Un état d'esprit, un mindset de Hacker
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
