article.learn-code
  .col-sm-6.col-sm-push-6.no_padding.learn-code-img.course-pres-col
  .col-sm-6.col-sm-pull-6.learn-code-content.course-pres-col
    .heading
      p Parce que tout le monde peut coder…
      h2 La programmation facile à votre portée
    hr
    .padding20
      p Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. End of content.<br> Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos.

      i.fa.fa-quote-left.fa-2x.fa-pull-left.fa-border(aria-hidden="true")
      i.fa.fa-quote-right.fa-2x.fa-pull-right.fa-border(aria-hidden="true")
      h4 Code ton produit et concrétise ton idée
      p Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos. End of content.<br> Donec varius sodales orci. Class aptent taciti sociosqu torquent, per inceptos himenaeos.
