article.row.section-3-bg.no_padding
  .desc-made-img.col-sm-6.no_padding.desc-made-col
  .col-sm-6.desc-section-1.desc-made-col
    .heading
      h2 Shuttle Coder Academy, c'est…
    hr
    ul.desc-3
      li
        .col-sm-2.col-xs-3
          img(src="img/64x64x1.png" class="desc-icon")
        .col-sm-10.col-xs-9
          h4 tite 1
          p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        .col-sm-2.col-xs-3
          img(src="img/64x64x1.png" class="desc-icon")
        .col-sm-10.col-xs-9
          h4 tite 1
          p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        .col-sm-2.col-xs-3
          img(src="img/64x64x1.png" class="desc-icon")
        .col-sm-10.col-xs-9
          h4 tite 1
          p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        .col-sm-2.col-xs-3
          img(src="img/64x64x1.png" class="desc-icon")
        .col-sm-10.col-xs-9
          h4 tite 1
          p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
