article.row.shuttle-desc.no_padding
  .shuttle-desc-img.col-sm-6.no_padding.course-pres-col
  .col-sm-6.shuttle-desc-content.course-pres-col
    .heading
      p Parce que tout le monde peut coder…
      h2 Shuttle Coder Academy, c'est…
    hr
    ul.fa-ul.desc-3
      li
        i.fa-li.fa.fa-4x.fa-building-o
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        i.fa-li.fa.fa-4x.fa-building-o
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        i.fa-li.fa.fa-4x.fa-building-o
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
      li
        i.fa-li.fa.fa-4x.fa-building-o
        h4 tite 1
        p Aenean arcu viverra varius sodales. Donec varius sodales orci. Class aptent taciti sociosqu inceptos.
