.footer-bottom
  .container
    .row.row-copyright
      .col-xs-6
        p.copyright
          span © 2017 Shuttle Coder Academy.
          i.fa.fa-ellipsis-v
          a(href="#" title="") mentions légales
      .col-xs-6
        p.text-right.with-love
          span Made with
          i.fa.fa-heart
          span in Paris
