footer
  .container
    .brand-footer
      img(src="img/logo-white.svg" alt="logo shuttle coder academy - Apprend à coder")
    .flex
      .footer-column
        h3 Nos Cours
        ul.footer-links.list-unstyled
          li
            a(href="#" target="_blank") Shuttle Coder On Demand
          li
            a(href="#" target="_blank") Nos workshops
          li
            a(href="#" target="_blank") Nos formations complètes
      .footer-column
        h3 Dans votre ville
        ul.footer-links.list-unstyled
      .footer-column
        h3 Qui sommes-nous ?
        ul.footer-links.list-unstyled
          li
            a(href="#" target="_blank") Shuttle Coder, c'est quoi ?
          li
            a(href="#" target="_blank") L'équipage
          li
            a(href="#" target="_blank") Notre boutique
      .footer-column
        h3 On est aussi sur
        ul.footer-links.list-unstyled
          li
            a(href="#" target="_blank")
              i.fa.fa-lg.fa-facebook
              span Facebook
          li
            a(href="#" target="_blank")
              i.fa.fa-lg.fa-twitter
              span Twitter
          li
            a(href="#" target="_blank")
              i.fa.fa-lg.fa-youtube
              span Youtube
          li
            a(href="#" target="_blank")
              i.fa.fa-lg.fa-meetup
              span Meetup
          li
            a(href="#" target="_blank")
              i.fa.fa-lg.fa-linkedin
              span LinkedIn
          //-li
            a(href="#" target="_blank")
              i.fa.fa-lg.fa-medium
              span Medium

    .row
      ul.copyright.list-unstyled.list-inline.text-center
        li Copyright © 2017 Shuttle Coder Academy Tous droits réservés
        li |
        li
          a(href="#" title="") mentions légales
