nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a(class="navbar-brand" href="#")
        img(alt="Brand" src="...")

    <!-- Collect the nav links, forms, and other content for toggling -->
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#") Link
        li.dropdown
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Nos Formatiosn <span class="caret"></span>
          ul.dropdown-menu
            li
              a(href="#") Nos Workshops
            li
              a(href="#") Nos Formations
            li(role="separator" class="divider")
            li
              a(href="#") Shuttle OnDemand
