nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a(class="navbar-brand" href="index.html")
        include _logo-color.pug

    <!-- Collect the nav links, forms, and other content for toggling -->
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#") à propos
        li
          a(href="#") l'équipage
        li.dropdown
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Nos Formations <span class="caret"></span>
          ul.dropdown-menu
            li.dropdown-header
              span Nos Workshops (présentiel)
            li
              a(href="#") Créer votre 1er site web
            li
              a(href="#") Docker
            li
              a(href="#") Swift
            li(role="separator" class="divider")
            li.dropdown-header
              span Nos Formations (présentiel)
            li
              a(href="#") Développeur Fullstack (9 semaines)
            li
              a(href="#") Développeur iPhone (9 semaines)
            li(role="separator" class="divider")
            li.dropdown-header
              span En ligne (Vidéos)
            li
              a(href="#") Shuttle OnDemand
