.social-icons.animated.fadeInDown
  ul.footer-links.list-unstyled.list-inline
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-facebook(data-toggle="tooltip" data-placement="top" title="Facebook")
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-twitter(data-toggle="tooltip" data-placement="top" title="Twitter")
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-youtube(data-toggle="tooltip" data-placement="top" title="Notre chaine Youtube")
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-meetup(data-toggle="tooltip" data-placement="top" title="Nos Meetups")
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-linkedin(data-toggle="tooltip" data-placement="top" title="LinkedIn")
