.social-icons.animated.fadeInDown
  ul.footer-links.list-unstyled.list-inline
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-facebook
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-twitter
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-youtube
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-meetup
    li
      a(href="#" target="_blank")
        i.fa.fa-2x.fa-linkedin
