article.col-sm-4
  .workshop_1
    i.fa.fa-4x.fa-html5
    i.fa.fa-2x.fa-plus
    i.fa.fa-4x.fa-css3
    h3 Créer son premier site web
    h4 Initiation
    p Envie d'apprendre à coder un site web ? Ce cours est idéal pour s'initier !
    ul.list-unstyled
      li
        p
          i.fa.fa-lg.fa-check-square-o
          span Prérequis :<br>Aucun
      li
        p
          i.fa.fa-lg.fa-mortar-board
          span Résultat :<br>Créer votre propre site web en ligne
    a(class="btn btn-blue" href="#" title="") Je veux participer
      i.fa.fa-chevron-right
