article.col-sm-4
  .workshop_2
    i.fa.fa-3x.fa-code
    h3 Rendre votre site web dynamique
    h4 Initiation à Javascript
    p
      | Envie d'apprendre à coder un site web ?
      br
      | Ce cours est idéal pour s'initier !
    ul.list-unstyled
      li
        p
          i.fa.fa-lg.fa-check-square-o
          span Pré-requis :<br>HTML5/CSS3
      li
        p
          i.fa.fa-lg.fa-mortar-board
          span Résultat :<br>
          span Créer votre propre site web en ligne
    +cta-workshop("comprendre-javascript", "Je veux participer")(class="btn-blue")
