include ../mixins/_buttons.pug

article.col-sm-4
  .workshop_3
    i.fa.fa-3x.fa-rocket
    h3 Construire rapidement son prototype
    h4 Initiation au développement d'applications Web et mobile réactives
    p
      | Envie d'apprendre à coder un site web ?
      br
      | Ce cours est idéal pour s'initier !
    ul.list-unstyled
      li
        p
          i.fa.fa-lg.fa-check-square-o
          span Pré-requis :<br>HTML5/CSS3/Javascript
      li
        p
          i.fa.fa-lg.fa-mortar-board
          span Résultat :<br>Créer votre propre site web en ligne
    +cta-workshop("construire-rapidement-son-prototype", "Je veux participer")(class="btn-blue")
