include ../mixins/_buttons.pug

article.col-sm-4
  .workshop_1
    i.fa.fa-3x.fa-html5
    i.fa.fa-2x.fa-plus
    i.fa.fa-3x.fa-css3
    h3 Créer son premier site web
    h4 Initiation HTML5/CSS3
    p Envie d'apprendre à coder un site web ? Ce cours est idéal pour s'initier !
    ul.list-unstyled
      li
        p
          i.fa.fa-lg.fa-check-square-o
          span Pré-requis :<br>Aucun
      li
        p
          i.fa.fa-lg.fa-mortar-board
          span Résultat :<br>Créer votre propre site web en ligne
    +cta-workshop("creer-votre-premier-site-web", "Je veux participer")(class="btn-blue")
