//- Workshop CREER 1er site web
extends ../layout.pug
include ../mixins/_navigation.pug
include ../mixins/_lists.pug
include ../mixins/_buttons.pug
include ../mixins/_forms.pug
prepend meta
  title Construire rapidement son prototype
append meta
  meta(name="description" content="")
  meta(name="keywords" content="")
  //-+meta-social(title, description, url, site_name, fpublisher, image, creator)

append css
  link(rel="stylesheet" type="text/css" href="../css/main.css")

block navigation
  +navigation('..')

block content
  - var dateList = ["11-12 mars", "25-26 mars", "11-12 mars", "25-26 mars", "11-12 mars", "25-26 mars"]
  - var whoList = ["Débutants", "Entrepreneurs Tech", "Designers", "Founders"]
  - var learnWhat = ["Fondamentaux en HTML & CSS", "", "Déploiement sur Github", "Implémentation de Google Analytics", "Insertion de formulaires Mailchimp & Wufoo"]
  section.workshop
    .container
      article.col-xs-12.col-lg-7
        h1 Construire rapidement son prototype
        h2 Initiation au développement d'applications Web et mobile réactives
        -var requis = ['HTML5/CSS3', 'Javascript', 'Docker']
        +course-listing(requis, '30', 'Memorial Act, Guadeloupe', 'Créer votre prototype')
        p.
          Comprenez enfin le développement web ! Apprenez à coder et créez votre propre site Internet en un week-end. La méthode Shuttle Coder, c'est 50% entrepreneur, 50% coder, 100% de pratique et le reste d'amour.

        //- A qui s'adresse ce cours
        - var who = ['Débutants', 'Entrepreneurs Tech', 'Designer', 'Founders']
        +course-for-who(who)

        //- Ce que vous allez apprendre dans ce cours
        - var learning = ["Fondamentaux en HTML & CSS.", "Comprendre le fonctionnement simplifié d'un serveur, les différentes façons de créer un site (From scratch, CMS, etc), les noms de domaine, les hébergements Web, les frameworks, et les bibliothèques.", "Découvrir le responsive web design avec la grille et les composants Bootstrap.", "Découvrir les ressources & outils de web-design", "Déployer son site sur Github", "Implémenter Google Analytics", "Insérer des formulaires Mailchimp & Wufoo", "Les pratiques (bonnes et mauvaises) liées à la programmation et à la gestion de projets."]
        +course-learning(learning)

      aside.col-xs-12.col-lg-4.col-lg-offset-1
        h5 Prix Unitaire : 300€ TTC
        .summary-payment
          table(cellspacing="0")
            tbody
              tr
                td.label
                  label(for="date-de-la-session") Date des sessions
                td.value
                  select(id="date-de-la-session" class="" name="attribute_date-de-la-session" data-attribute_name="attribute_date-de-la-session" data-show_option_none="yes")
                    option(value="" selected="selected") Choisir une date
                    - var dates = ['6-7 mai', '27-28 mai', '10-11 juin'];
                    each date in dates
                      option(value=date)= date
              tr
                td.label
                  label(for="nombre-de-places") Date des sessions
                td.value
                  select(id="nombre-de-places" class="" name="attribute_nombre-de-places" data-attribute_name="attribute_nombre-de-places" data-show_option_none="yes")
                    option(value="" selected="selected") Choisir une date
                    - var places = 1;
                    while places < 6
                      option(value="1")= places++

          +reservation('meetup')(class="btn-blue")
          //-+payment-form
