//- Workshop CREER 1er site web
extends ../layout.pug
include ../mixins/_navigation.pug
include ../mixins/_lists.pug
include ../mixins/_signup.pug
include ../mixins/_buttons.pug
include ../mixins/_forms.pug
prepend meta
  title Créer votre premier site web - Shuttle Coder
append meta
  meta(name="description" content="")
  meta(name="keywords" content="")
  //-+meta-social(title, description, url, site_name, fpublisher, image, creator)

append css
  link(rel="stylesheet" type="text/css" href="../css/main.css")
  script(src="../js/modernizr-min.js")

block navigation
  +navigation('..')

block content
  - var dateList = ["11-12 mars", "25-26 mars", "11-12 mars", "25-26 mars", "11-12 mars", "25-26 mars"]
  - var whoList = ["Débutants", "Entrepreneurs Tech", "Designers", "Founders"]
  - var learnWhat = ["Fondamentaux en HTML & CSS", "", "Déploiement sur Github", "Implémentation de Google Analytics", "Insertion de formulaires Mailchimp & Wufoo"]
  section.workshop
    .container
      article.col-xs-12.col-lg-7
        h1 Construis ton idée et crée ton site web
        h2 Initiation à HTML5 et CSS3
        +course-listing('Aucun', '30', 'Memorial Act, Guadeloupe', 'Créer votre site web')
        p.
          Comprenez enfin le développement web ! Apprenez à coder et créez votre propre site Internet en un week-end. La méthode Shuttle Coder, c'est 50% entrepreneur, 50% coder, 100% de pratique et le reste d'amour.

        //- A qui s'adresse ce cours
        - var who = ['Débutants', 'Entrepreneurs Tech', 'Designer', 'Founders']
        +course-for-who(who)

        //- Ce que vous allez apprendre dans ce cours
        - var learning = ["Fondamentaux en HTML & CSS.", "Comprendre le fonctionnement simplifié d'un serveur, les différentes façons de créer un site (From scratch, CMS, etc), les noms de domaine, les hébergements Web, les frameworks, et les bibliothèques.", "Découvrir le responsive web design avec la grille et les composants Bootstrap.", "Découvrir les ressources & outils de web-design", "Déployer son site sur Github", "Implémenter Google Analytics", "Insérer des formulaires Mailchimp & Wufoo", "Les pratiques (bonnes et mauvaises) liées à la programmation et à la gestion de projets."]
        +course-learning(learning)

      aside.cd-pricing.col-xs-12.col-lg-4.col-lg-offset-1
        - var objectifs = ["HTML5/CSS3", "Bootstrap", "GitHub", "Google Analytics", "Responsive Design", "Bonnes pratiques"]
        +signup('Basic', '150', objectifs, "20-21 mai")

append scripts
  script(src="../js/velocity-min.js")
  script(src="../js/main-min.js")
