//- Workshop CREER 1er site web
extends ../layout.pug
include ../mixins/_lists.pug
include ../mixins/_forms.pug
prepend meta
  title Créer votre premier site web - Shuttle Coder
append meta
  meta(name="description" content="")
  meta(name="keywords" content="")
  //-+meta-social(title, description, url, site_name, fpublisher, image, creator)

append css
  link(rel="stylesheet" type="text/css" href="../css/main.css")

block navigation
  - var index = false
  if index
    include ../includes/_navigation.pug
  else
    include ../includes/layouts/_navigation2.pug

block content
  - var dateList = ["11-12 mars", "25-26 mars", "11-12 mars", "25-26 mars", "11-12 mars", "25-26 mars"]
  - var whoList = ["Débutants", "Entrepreneurs Tech", "Designers", "Founders"]
  - var learnWhat = ["Fondamentaux en HTML & CSS", "", "Déploiement sur Github", "Implémentation de Google Analytics", "Insertion de formulaires Mailchimp & Wufoo"]
  section.workshop.padding40
    .container
      article.col-xs-12.col-lg-7
        h1 Construis ton idée et crée ton site web
        h2 Initiation à HTML5 et CSS3
        +course-listing('Aucun', '30', 'Memorial Act, Guadeloupe', 'Créer votre site web')
        p.lead.
          Comprenez enfin le développement web ! Apprenez à coder et créez votre propre site Internet en un week-end. La méthode Coding Days, c'est 90% de pratique et le reste d'amour.

        //- A qui s'adresse ce cours
        +course-for-who('firs', 'second', 'third', 'four')

        //- Ce que vous allez apprendre dans ce cours
        +course-learning('firs', 'second', 'third', 'four')

      aside.col-xs-12.col-lg-4.col-lg-offset-1
        h5 Prix Unitaire : 150€ TTC
        .summary-payment
          +payment-form
