.btn {
  padding: 14px;
  line-height: 1.42857;
  border-radius: 2px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .26);
  display: block;
  margin: 30px auto 0
}

.btn-blue {
  color: $text-light;
  background-color: $main-color;
  border-color: $main-color;
  &:link,
  &:visited {
    i {
      color: $text-light;
      margin-left: 5px;
    }
  }
  &:hover,
  &:active {
    color: $text-light;
    background-color: $second-color;
    border-color: $second-color;
  }
}
