.btn {
  padding: 14px;
  line-height: 1.42857;
  border-radius: 2px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .26);
  display: block;
  margin: 30px auto 0
}

.btn-blue {
  color: #fff;
  background-color: $main-color;
  border-color: $main-color;
  &:visited {

  }
  &:hover,
  &:active {
    color: #fff;
    background-color: shade($main-color, 20%);
    border-color: shade($main-color, 20%);
  }
}
