/*

Name: Academy
Version: 1.0
Author: Shuttle Coder Academy

*/

@import 'utils.scss';
@import 'base.scss';
@import 'icons.scss';
@import 'links.scss';
@import 'buttons.scss';
@import 'forms.scss';
@import 'icons.scss';
@import 'layouts.scss';
@import 'lists.scss';
@import 'menus.scss';
@import 'notifications.scss';
