section.background-color.padding20
  .newsletter-container
    .container
      .row
        .col-xs-12.col-sm-6.col-md-6.newsletter-head
          h4 Embarquez dans l'aventure
          p Recevez les prochaines dates de nos workshops et des nouvelles de Shuttle Coder !
        .col-xs-12.col-sm-6.col-md-6.text-right
          include ../vendors/_mailchimp-newsletter.pug
