section.newsletter.background-color
  .newsletter-container
    .newsletter-head
      h4 Embarquez dans l'aventure
      p Recevez les prochaines dates de nos workshops et des nouvelles de Shuttle Coder !
    .newsletter-suscribe
      include ../vendors/_mailchimp-newsletter.pug
