.top-bar
  .container
    p.tage-line #EveryoneCanCode
    <!-- tag-line -->
    span.phone-number.background-color
      a(href="#" class="font-white")
        i(class="fa fa-phone" aria-hidden="true")
        span (+33) 0XXX-XXX-XXX

    <!-- email-address-->
    span.email-address.hidden-xs
      a(href="#")
        i(class="fa fa-envelope-o" aria-hidden="true")
        span info@shuttlecoder.academy
