/*

Name: Academy
Version: 1.0
Author: Shuttle Coder Academy

*/
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway:400,700");
body {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  color: black;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: normal;
}

.headingH {
  font-size: 2rem;
  color: #6b6b6b;
  padding-bottom: 30px;
  text-align: center;
}

.typed {
  font-size: 1.9em;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading {
  padding-bottom: 0;
}

.learn-code h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.learn-code h5 {
  color: #1797D4;
  margin-top: 20px;
  margin-bottom: 20px;
}

.learn-code p {
  margin: 0;
}

.section-3-bg h2 {
  color: #fff;
}

.section-3-bg h4 {
  color: #fff;
  margin-top: 0;
}

.section-3-bg p {
  color: #fff;
}

.workshop_1 i,
.workshop_2 i,
.workshop_3 i {
  color: #1797D4;
}

.workshop_1 ul li i,
.workshop_2 ul li i,
.workshop_3 ul li i {
  margin-right: 10px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.btn {
  padding: 14px;
  line-height: 1.42857;
  border-radius: 2px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.26);
  display: block;
  margin: 30px auto 0;
}

.btn-blue {
  color: #fff;
  background-color: #1797D4;
  border-color: #1797D4;
}

.btn-blue:hover, .btn-blue:active {
  color: #fff;
  background-color: #1279aa;
  border-color: #1279aa;
}

.workshop_1 i,
.workshop_2 i,
.workshop_3 i {
  color: #1797D4;
}

.workshop_1 ul li i,
.workshop_2 ul li i,
.workshop_3 ul li i {
  margin-right: 10px;
}

.top-bar {
  width: 100%;
  background-color: #1f2229;
}

.tage-line {
  color: #fff;
  font-size: 14px;
  width: auto;
  display: inline-block;
  text-transform: uppercase;
  padding: 15px 0px;
  float: left;
  margin: 0;
}

.phone-number,
.email-address {
  float: right;
  padding: 15px 15px;
  border-left: 1px solid #444C60;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.phone-number a,
.email-address a {
  color: #fff !important;
}

.phone-number a i,
.email-address a i {
  margin-right: 8px;
}

.background-color {
  background-color: #1797D4;
}

header .logo {
  margin-top: 130px;
  margin-bottom: 30px;
}

.heading-landing {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 120px;
}

.heading-landing p {
  color: #fff;
}

.backstretch {
  left: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 658px;
  width: 1280px;
  z-index: -999998;
  position: absolute;
}

.backstretch:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: repeat;
  z-index: 1;
}

.mouse-wrapper {
  display: block;
  z-index: 10;
  position: absolute;
  margin-left: 18px;
  bottom: -110px;
}

.mouse {
  margin-left: -20px;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
  -webkit-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
  -moz-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
  -o-animation: wobbleArrow 1s ease-in-out 0s infinite alternate;
}

.mouse span {
  position: absolute;
  left: -19px;
  bottom: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.3em;
  display: block;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.mouse a {
  color: #FFFFFF;
  position: relative;
  top: 110px;
  line-height: 36px;
  text-align: center;
  outline: none;
}

.mouse a i {
  font-size: 1.3em;
}

.no_padding {
  padding-left: 0;
  padding-right: 0;
}

.padding100 {
  padding: 100px 0;
}

.section-3-bg {
  background-color: #1797D4;
}

.shuttle-desc-img,
.learn-code-img {
  background-image: url("../img/1000x700x1.jpg");
  height: 662px;
}

.shuttle-desc-col {
  background-position: center center;
  background-size: cover;
}

.shuttle-desc-col hr {
  border: solid #fff 2px;
  width: 60px;
}

.shuttle-desc-col img {
  padding-right: 15px;
  vertical-align: middle;
}

.shuttle-desc {
  padding: 80px 90px 80px 40px;
}

.learn-code-section {
  background-color: #f5f5f5;
}

.learn-code {
  padding: 80px 40px 80px 90px;
}

.workshop_1,
.workshop_2,
.workshop_3 {
  padding: 30px 15px;
  border: 1px solid #1797D4;
  border-radius: 3px;
  margin-bottom: 30px;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-brand img {
  margin-top: 0;
  max-height: 40px;
}

footer {
  background-color: #1f2229;
}

.brand-footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0 40px;
}

.brand-footer img {
  height: 50px;
}

.flex {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-column h3 {
  color: #b3b3b3;
}

.footer-column li a:link, .footer-column li a:visited, .footer-column li a:hover, .footer-column li a:active {
  color: #fff;
}

.copyright {
  color: #8c8c8c;
  padding: 30px 0;
}

.copyright a:link, .copyright a:visited, .copyright a:hover, .copyright a:active {
  color: #8c8c8c;
}

.desc-3 {
  list-style: none;
  padding-left: 0;
}

.desc-3 li {
  margin: 40px 0 40px 0;
}
