//- Index
extends layout.pug

prepend meta
  title The academy - Shuttle Coder
append meta
  meta(name="description" content="")
  meta(name="keywords" content="")

append css
  link(rel="stylesheet" type="text/css" href="css/main.css")

block hero
  include includes/_hero.pug

block content
  section.course-presentation
    .container-fluid.no_padding
      include includes/_course-presentation1.pug
      include includes/_course-presentation2.pug
      include includes/_course-presentation3.pug

  section.nos-workshops.padding100
    .container
      h2 Découvrez nos workshops
      include includes/_workshop_1.pug
      include includes/_workshop_2.pug
      include includes/_workshop_3.pug
