//- Index
extends layout.pug

append meta
  meta(name="description" content="")
  meta(name="keywords" content="")


block hero
  header.heading-landing
    .container
      .row
        .col-md-12
          .col-md-8
            .logo.animated.fadeInDown
              img(src="img/logo.png" alt="")
            h1.typed.animated.fadeInUp Shuttle Coder Academy Accueil.
            p.animated.fadeInUp We are working very hard to give you the best experience with this one.<br>You will love Woody as much as we do. It will morph perfectly on your needs!


          <!-- MOUSE ICON -->
          .mouse-wrapper
            .mouse
              a(href="#about")
                span skroll
                i.fa.fa-chevron-down
          <!-- /MOUSE ICON -->

    .backstretch
      img(src="img/slides/hero.jpg")

block content
  section.course-presentation.section-3-bg
    .container-fluid.no_padding
      include includes/_course-presentation1.pug
