//- Index
extends layout.pug

include ./mixins/_hero.pug
include ./mixins/_workshops-listing.pug

prepend meta
  title The academy - Shuttle Coder
append meta
  meta(name="description" content="")
  meta(name="keywords" content="")

append css
  link(rel="stylesheet" type="text/css" href="css/main.css")

prepend navigation
  - var path = ''

block hero
  - var titles = {h1:"Deux jours pour apprendre !", h2:"L'initiation à la programmation pour tous"}
  +hero(false, titles)

block content
  section.course-items
    .container
      //- Workshop 1
      - var titre = "Construis ton idée et crée ton site web"
      - var resultat = "Votre site web"
      - var description = "Comprenez enfin le développement web ! Apprenez à coder et créez votre propre site Internet en un week-end. La méthode Shuttle Coder, c'est 50% entrepreneur, 50% coder, 100% de pratique et le reste d'amour."
      - var requis = ""
      - var lieu = ""
      - var path = "creer-votre-premier-site-web"
      +workshop-listing(titre, resultat, description, requis, lieu, path)
      
      //- Workshop 2
      - var titre = "Rendez votre site web dynamique avec Javascript"
      - var resultat = "Apprenez à vous servir de Javascript"
      - var description = "Comprenez enfin comment récupérer des données sur Internet ! Apprenez à coder en JavaScript et créez votre propre robot en un week-end."
      - var requis = ["HTML5/CSS3"]
      - var lieu = ""
      - var path = "comprendre-javascript"
      +workshop-listing(titre, resultat, description, requis, lieu, path)

      //- Workshop 3
      - var titre = "Construire rapidement son prototype"
      - var resultat = "Votre appli réactive avec le front-end, le back-end et la base de données"
      - var description = "description"
      - var requis = ""
      - var lieu = ""
      - var path = "creer-votre-premier-site-web"
      +workshop-listing(titre, resultat, description, requis, lieu, path)
