mixin select-svg(number)
	case number
		when 1
			<svg width="290px" height="254px" viewBox="0 0 290 254" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g id="Flat-line-Modern-Concepts" transform="translate(-290.000000, 5.000000)">
						<g id="Coding" transform="translate(290.000000, -4.000000)">
								<path d="M245.11465,187.872191 L279.286624,187.872191" id="XMLID_925_" stroke="#414042" stroke-width="1.84736909"></path>
								<g id="XMLID_921_" transform="translate(60.955414, 20.320493)" stroke="#414042" stroke-width="1.84736909">
										<path d="M0,1.10839051 L47.656051,1.10839051" id="XMLID_924_"></path>
										<path d="M53.566879,1.10839051 L49.5031847,1.10839051" id="XMLID_923_"></path>
										<path d="M59.2929936,1.10839051 L55.7834395,1.10839051" id="XMLID_922_"></path>
								</g>
								<g id="XMLID_917_" transform="translate(5.541401, 118.228321)" stroke="#414042" stroke-width="1.84736909">
										<path d="M36.2038217,0.554195253 L8.49681529,0.554195253" id="XMLID_920_"></path>
										<path d="M4.98726115,0.554195253 L7.20382166,0.554195253" id="XMLID_919_"></path>
										<path d="M1.47770701,0.554195253 L3.50955414,0.554195253" id="XMLID_918_"></path>
								</g>
								<g id="XMLID_910_" transform="translate(0.000000, 175.495164)" stroke-width="1.84736909" stroke="#414042">
										<g id="XMLID_914_">
												<path d="M17.7324841,33.8059104 C8.86624204,33.8059104 1.47770701,26.6013722 1.47770701,17.5495164 C1.47770701,8.6823923 8.68152866,1.29312226 17.7324841,1.29312226" id="XMLID_916_" stroke-dasharray="5.542107389328327"></path>
												<path d="M17.7324841,1.29312226 C26.5987261,1.29312226 33.9872611,8.49766055 33.9872611,17.5495164 C33.9872611,26.4166404 26.7834395,33.8059104 17.7324841,33.8059104" id="XMLID_915_"></path>
										</g>
										<g id="XMLID_911_" transform="translate(14.777070, 12.931223)">
												<path d="M0,4.61829378 L6.0955414,4.61829378" id="XMLID_913_"></path>
												<path d="M2.95541401,7.75873355 L2.95541401,1.66258576" id="XMLID_912_"></path>
										</g>
								</g>
								<g id="XMLID_903_" transform="translate(253.057325, 73.892700)" stroke-width="1.84736909" stroke="#414042">
										<g id="XMLID_907_">
												<path d="M15.7006369,30.4807389 C7.57324841,30.4807389 1.10828025,24.0151276 1.10828025,15.8869306 C1.10828025,7.75873355 7.57324841,1.29312226 15.7006369,1.29312226" id="XMLID_909_" stroke-dasharray="5.542107389328327"></path>
												<path d="M15.7006369,1.29312226 C23.8280255,1.29312226 30.2929936,7.75873355 30.2929936,15.8869306 C30.2929936,24.0151276 23.8280255,30.4807389 15.7006369,30.4807389" id="XMLID_908_"></path>
										</g>
										<g id="XMLID_904_" transform="translate(12.929936, 12.931223)">
												<path d="M0,2.95570802 L5.54140127,2.95570802" id="XMLID_906_"></path>
												<path d="M2.77070064,5.72668428 L2.77070064,0.184731751" id="XMLID_905_"></path>
										</g>
								</g>
								<g id="XMLID_895_" transform="translate(136.687898, 18.473175)" stroke-width="1.84736909" stroke="#414042">
										<g id="XMLID_900_">
												<path d="M27.8917197,55.9737206 C12.9299363,55.9737206 0.738853503,43.781425 0.738853503,28.8181532 C0.738853503,13.8548813 12.9299363,1.66258576 27.8917197,1.66258576" id="XMLID_902_" stroke-dasharray="7.389476519104437"></path>
												<path d="M27.8917197,1.84731751 C42.8535032,1.84731751 55.044586,14.0396131 55.044586,29.0028849 C55.044586,43.9661568 42.8535032,56.1584523 27.8917197,56.1584523" id="XMLID_901_"></path>
										</g>
										<g id="XMLID_896_" transform="translate(12.929936, 14.778540)">
												<path d="M26.5987261,12.0075638 L24.3821656,12.0075638 C24.1974522,10.8991733 23.6433121,9.79078281 23.089172,8.86712405 L24.566879,7.38927004 C25.1210191,6.83507479 25.1210191,5.91141603 24.566879,5.35722078 L23.4585987,4.24883027 C22.9044586,3.69463502 21.9808917,3.69463502 21.4267516,4.24883027 L19.9490446,5.72668428 C19.0254777,5.17248903 17.9171975,4.61829378 16.8089172,4.43356203 L16.8089172,2.21678101 C16.8089172,1.47785401 16.2547771,0.923658755 15.3312102,0.923658755 L13.6687898,0.923658755 C12.9299363,0.923658755 12.1910828,1.47785401 12.1910828,2.21678101 L12.1910828,4.43356203 C11.0828025,4.61829378 10.1592357,5.17248903 9.23566879,5.72668428 L7.75796178,4.24883027 C7.20382166,3.69463502 6.28025478,3.69463502 5.72611465,4.24883027 L4.61783439,5.35722078 C4.06369427,5.91141603 4.06369427,6.83507479 4.61783439,7.38927004 L6.0955414,8.86712405 C5.54140127,9.79078281 4.98726115,10.8991733 4.80254777,12.0075638 L2.58598726,12.0075638 C1.84713376,12.0075638 1.10828025,12.5617591 1.10828025,13.3006861 L1.10828025,14.9632718 C1.10828025,15.7021988 1.66242038,16.2563941 2.40127389,16.4411258 L4.61783439,16.4411258 C4.80254777,17.5495164 5.3566879,18.6579069 5.91082803,19.5815656 L4.43312102,21.0594196 C3.87898089,21.6136149 3.87898089,22.5372736 4.43312102,23.0914689 L5.54140127,24.1998594 C6.0955414,24.7540546 7.01910828,24.7540546 7.57324841,24.1998594 L9.05095541,22.7220054 C9.97452229,23.2762006 11.0828025,23.8303959 12.1910828,24.0151276 L12.1910828,26.2319087 C12.1910828,26.9708357 12.7452229,27.7097627 13.4840764,27.7097627 L15.1464968,27.7097627 C15.8853503,27.7097627 16.6242038,27.1555674 16.6242038,26.4166404 L16.6242038,24.1998594 C17.7324841,24.0151276 18.8407643,23.4609324 19.7643312,22.9067371 L21.2420382,24.3845911 C21.7961783,24.9387864 22.7197452,24.9387864 23.2738854,24.3845911 L24.3821656,23.2762006 C24.9363057,22.7220054 24.9363057,21.7983466 24.3821656,21.2441514 L22.9044586,19.7662974 C23.4585987,18.8426386 24.0127389,17.7342481 24.1974522,16.6258576 L26.4140127,16.6258576 C27.1528662,16.6258576 27.7070064,16.0716623 27.8917197,15.3327353 L27.8917197,13.6701496 C28.0764331,12.7464908 27.522293,12.0075638 26.5987261,12.0075638 Z M14.9617834,18.6579069 C12.5605096,18.6579069 10.5286624,16.6258576 10.5286624,14.2243448 C10.5286624,11.8228321 12.5605096,9.79078281 14.9617834,9.79078281 C17.3630573,9.79078281 19.3949045,11.8228321 19.3949045,14.2243448 C19.2101911,16.6258576 17.3630573,18.6579069 14.9617834,18.6579069 Z" id="XMLID_897_"></path>
										</g>
								</g>
								<g id="XMLID_884_" transform="translate(251.210191, 175.495164)" stroke="#414042" stroke-width="1.84736909">
										<path d="M0.554140127,0.738927004 L2.21656051,0.738927004" id="XMLID_894_"></path>
										<path d="M3.69426752,0.738927004 L5.3566879,0.738927004" id="XMLID_893_"></path>
										<path d="M6.8343949,0.738927004 L8.68152866,0.738927004" id="XMLID_892_"></path>
										<path d="M9.97452229,0.738927004 L11.8216561,0.738927004" id="XMLID_891_"></path>
										<path d="M13.2993631,0.738927004 L14.9617834,0.738927004" id="XMLID_890_"></path>
										<path d="M16.4394904,0.738927004 L18.1019108,0.738927004" id="XMLID_889_"></path>
										<path d="M19.5796178,0.738927004 L21.2420382,0.738927004" id="XMLID_888_"></path>
										<path d="M22.7197452,0.738927004 L24.566879,0.738927004" id="XMLID_887_"></path>
										<path d="M25.8598726,0.738927004 L27.7070064,0.738927004" id="XMLID_886_"></path>
										<path d="M29.1847134,0.738927004 L30.8471338,0.738927004" id="XMLID_885_"></path>
								</g>
								<polygon id="XMLID_883_" stroke="#414042" stroke-width="1.84736909" points="208.356688 15.1480036 215.191083 19.0273704 215.191083 11.2686368 208.356688 15.1480036 215.191083 19.0273704 215.191083 11.2686368"></polygon>
								<polygon id="XMLID_882_" stroke="#414042" stroke-width="1.84736909" points="94.388535 60.2225508 101.22293 64.1019176 101.22293 56.1584523 94.388535 60.2225508 101.22293 64.1019176 101.22293 56.1584523"></polygon>
								<polygon id="XMLID_881_" stroke="#414042" stroke-width="1.84736909" points="195.426752 5.35722078 187.66879 9.79078281 187.66879 0.738927004 195.426752 5.35722078 187.66879 9.79078281 187.66879 0.738927004"></polygon>
								<polygon id="XMLID_880_" stroke="#414042" stroke-width="1.84736909" points="278.178344 116.750467 270.235669 121.184029 270.235669 112.132173 278.178344 116.750467 270.235669 121.184029 270.235669 112.132173"></polygon>
								<g id="XMLID_839_" transform="translate(24.012739, 105.297098)">
										<rect id="XMLID_879_" fill="#A7A9AC" fill-rule="nonzero" x="17.9171975" y="0.738927004" width="208.171975" height="142.612912"></rect>
										<rect id="XMLID_878_" fill="#58595B" fill-rule="nonzero" x="30.2929936" y="13.4854178" width="183.605096" height="116.935198"></rect>
										<polygon id="XMLID_877_" fill="#FFFFFF" fill-rule="nonzero" points="236.248408 146.492279 7.75796178 146.492279 0.369426752 128.942762 243.636943 128.942762"></polygon>
										<polygon id="XMLID_876_" stroke="#414042" stroke-width="1.84736909" points="236.248408 146.492279 7.75796178 146.492279 0.369426752 128.942762 243.636943 128.942762"></polygon>
										<path d="M107.133758,136.701496 L136.872611,136.701496" id="XMLID_875_" stroke="#414042" stroke-width="1.84736909"></path>
										<rect id="XMLID_874_" fill="#E7643E" fill-rule="nonzero" x="52.089172" y="29.0028849" width="18.4713376" height="2.40151276"></rect>
										<rect id="XMLID_873_" fill="#F5AB35" fill-rule="nonzero" x="61.1401274" y="37.131082" width="12.7452229" height="2.40151276"></rect>
										<rect id="XMLID_872_" fill="#FFFFFE" fill-rule="nonzero" x="101.961783" y="37.131082" width="103.070064" height="2.40151276"></rect>
										<rect id="XMLID_871_" fill="#FFFFFE" fill-rule="nonzero" transform="translate(89.779013, 38.374327) rotate(-180.000000) translate(-89.779013, -38.374327) " x="82.6675478" y="37.1735703" width="14.2229299" height="2.40151276"></rect>
										<rect id="XMLID_870_" fill="#E7643E" fill-rule="nonzero" x="65.5732484" y="43.9661568" width="25.3057325" height="2.40151276"></rect>
										<rect id="XMLID_869_" fill="#FFFFFE" fill-rule="nonzero" x="75.7324841" y="53.7569396" width="31.955414" height="2.40151276"></rect>
										<rect id="XMLID_868_" fill="#FFFFFE" fill-rule="nonzero" x="52.089172" y="62.8087954" width="35.0955414" height="2.40151276"></rect>
										<rect id="XMLID_867_" fill="#47CBD7" fill-rule="nonzero" transform="translate(103.493242, 64.083260) rotate(-180.000000) translate(-103.493242, -64.083260) " x="90.8403758" y="62.8825033" width="25.3057325" height="2.40151276"></rect>
										<rect id="XMLID_866_" fill="#FFFFFE" fill-rule="nonzero" x="61.1401274" y="72.0453829" width="46.9171975" height="2.40151276"></rect>
										<rect id="XMLID_865_" fill="#FFFFFE" fill-rule="nonzero" transform="translate(143.017656, 73.099278) rotate(-180.000000) translate(-143.017656, -73.099278) " x="127.409376" y="71.8985212" width="31.2165605" height="2.40151276"></rect>
										<rect id="XMLID_864_" fill="#E7643E" fill-rule="nonzero" x="110.089172" y="72.0453829" width="14.7770701" height="2.40151276"></rect>
										<rect id="XMLID_863_" fill="#FFFFFE" fill-rule="nonzero" x="76.8407643" y="81.0972387" width="41.0063694" height="2.40151276"></rect>
										<rect id="XMLID_862_" fill="#F5AB35" fill-rule="nonzero" transform="translate(69.726529, 82.300027) rotate(-180.000000) translate(-69.726529, -82.300027) " x="65.3857643" y="81.0992708" width="8.68152866" height="2.40151276"></rect>
										<rect id="XMLID_861_" fill="#FFFFFE" fill-rule="nonzero" x="52.089172" y="87.7475818" width="28.0764331" height="2.40151276"></rect>
										<rect id="XMLID_860_" fill="#47CBD7" fill-rule="nonzero" x="82.1974522" y="87.7475818" width="9.60509554" height="2.40151276"></rect>
										<rect id="XMLID_859_" fill="#FFFFFE" fill-rule="nonzero" x="94.5732484" y="87.7475818" width="45.9936306" height="2.40151276"></rect>
										<rect id="XMLID_858_" fill="#FFFFFE" fill-rule="nonzero" transform="translate(164.812911, 89.055852) rotate(-180.000000) translate(-164.812911, -89.055852) " x="144.032656" y="87.8550956" width="41.5605096" height="2.40151276"></rect>
										<rect id="XMLID_857_" fill="#E7643E" fill-rule="nonzero" x="61.1401274" y="96.9841693" width="14.5923567" height="2.40151276"></rect>
										<rect id="XMLID_856_" fill="#FFFFFF" fill-rule="nonzero" transform="translate(97.337854, 98.071870) rotate(-180.000000) translate(-97.337854, -98.071870) " x="80.0671529" y="96.8711135" width="34.5414013" height="2.40151276"></rect>
										<rect id="XMLID_855_" fill="#F5AB35" fill-rule="nonzero" x="69.0828025" y="106.036025" width="28.0764331" height="2.40151276"></rect>
										<rect id="XMLID_854_" fill="#FFFFFE" fill-rule="nonzero" x="102.88535" y="106.036025" width="28.0764331" height="2.40151276"></rect>
										<rect id="XMLID_853_" fill="#FFFFFE" fill-rule="nonzero" x="135.394904" y="106.036025" width="26.4140127" height="2.40151276"></rect>
										<rect id="XMLID_852_" fill="#FFFFFE" fill-rule="nonzero" transform="translate(187.708318, 54.882325) rotate(-180.000000) translate(-187.708318, -54.882325) " x="179.765643" y="53.681569" width="15.8853503" height="2.40151276"></rect>
										<rect id="XMLID_851_" fill="#FFFFFE" fill-rule="nonzero" x="110.643312" y="53.7569396" width="65.5732484" height="2.40151276"></rect>
										<rect id="XMLID_850_" fill="#FFFFFE" fill-rule="nonzero" x="75.7324841" y="29.0028849" width="74.6242038" height="2.40151276"></rect>
										<rect id="XMLID_849_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="25.3082499" width="3.87898089" height="3.87936677"></rect>
										<rect id="XMLID_848_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="35.4684962" width="3.87898089" height="3.87936677"></rect>
										<rect id="XMLID_847_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="45.8134743" width="3.87898089" height="3.87936677"></rect>
										<rect id="XMLID_846_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="55.9737206" width="3.87898089" height="3.87936677"></rect>
										<rect id="XMLID_845_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="66.1339669" width="3.87898089" height="3.87936677"></rect>
										<rect id="XMLID_844_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="76.2942132" width="3.87898089" height="3.87936677"></rect>
										<rect id="XMLID_843_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="86.6391913" width="3.87898089" height="3.87936677"></rect>
										<rect id="XMLID_842_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="96.7994376" width="3.87898089" height="3.87936677"></rect>
										<rect id="XMLID_841_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="106.959684" width="3.87898089" height="3.87936677"></rect>
										<rect id="XMLID_840_" fill="#FFFFFF" fill-rule="nonzero" x="39.5286624" y="117.304662" width="3.87898089" height="3.87936677"></rect>
								</g>
								<g id="XMLID_817_" transform="translate(199.490446, 38.793668)">
										<g id="XMLID_827_" transform="translate(0.000000, 14.778540)" fill-rule="nonzero">
												<polygon id="XMLID_838_" fill="#E7643E" points="7.01910828 0.738927004 0 13.1159543 14.0382166 13.1159543"></polygon>
												<polygon id="XMLID_837_" fill="#E7643E" points="49.5031847 0.738927004 42.2993631 13.1159543 56.522293 13.1159543"></polygon>
												<polygon id="XMLID_836_" fill="#F5C1B2" points="21.2420382 0.738927004 14.0382166 13.1159543 28.2611465 13.1159543"></polygon>
												<polygon id="XMLID_835_" fill="#EC8365" points="7.01910828 0.738927004 14.0382166 13.1159543 21.2420382 0.738927004"></polygon>
												<polygon id="XMLID_834_" fill="#F1A28B" points="35.2802548 0.738927004 28.2611465 13.1159543 42.2993631 13.1159543"></polygon>
												<polygon id="XMLID_833_" fill="#EC8365" points="14.0382166 13.1159543 28.2611465 45.259279 28.2611465 13.1159543"></polygon>
												<polygon id="XMLID_832_" fill="#F1A28B" points="0 13.1159543 28.2611465 45.259279 14.0382166 13.1159543"></polygon>
												<polygon id="XMLID_831_" fill="#F5C1B2" points="56.522293 13.1159543 28.2611465 45.259279 42.2993631 13.1159543"></polygon>
												<polygon id="XMLID_830_" fill="#E7643E" points="28.2611465 13.1159543 28.2611465 45.259279 42.2993631 13.1159543"></polygon>
												<polygon id="XMLID_829_" fill="#EC8365" points="21.2420382 0.738927004 28.2611465 13.1159543 35.2802548 0.738927004"></polygon>
												<polygon id="XMLID_828_" fill="#EC8365" points="35.2802548 0.738927004 42.2993631 13.1159543 49.5031847 0.738927004"></polygon>
										</g>
										<path d="M28.2611465,2.21678101 L28.2611465,4.80302553" id="XMLID_826_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M19.3949045,0.738927004 L20.6878981,5.72668428" id="XMLID_825_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M12.5605096,6.28087954 L13.8535032,8.49766055" id="XMLID_824_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M4.24840764,9.4213193 L7.94267516,13.1159543" id="XMLID_823_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M1.10828025,17.7342481 L3.32484076,19.0273704" id="XMLID_822_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M55.7834395,18.4731751 L53.3821656,19.5815656" id="XMLID_821_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M52.6433121,9.97551456 L48.9490446,13.4854178" id="XMLID_820_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M44.5159236,6.65034304 L43.0382166,8.86712405" id="XMLID_819_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M37.6815287,0.923658755 L36.2038217,5.91141603" id="XMLID_818_" stroke="#414042" stroke-width="1.84736909"></path>
								</g>
								<path d="M79.0573248,122.477151 L25.3057325,122.477151 L25.3057325,155.359403 L60.0318471,155.359403 L71.8535032,167.551698 C72.2229299,167.921162 72.5923567,167.73643 72.5923567,167.182235 L72.5923567,155.359403 L79.0573248,155.359403 L79.0573248,122.477151 L79.0573248,122.477151 Z" id="XMLID_816_" fill="#99CC33" fill-rule="nonzero"></path>
								<path d="M25.3057325,155.544134 L60.0318471,155.544134 L71.8535032,167.73643 C72.2229299,168.105893 72.5923567,167.921162 72.5923567,167.366966 L72.5923567,155.544134 L79.0573248,155.544134" id="XMLID_815_" stroke="#414042" stroke-width="1.84736909"></path>
								<g id="XMLID_795_" transform="translate(80.455120, 72.045383)">
										<path d="M0.449338212,0.738927004 L60.6658987,0.738927004 L60.6658987,37.5005455 L21.8760898,37.5005455 L8.57672675,51.3554268 C8.2073,51.7248903 7.83787324,51.5401585 7.83787324,50.9859633 L7.83787324,37.5005455 L0.634051588,37.5005455 L0.634051588,0.738927004 L0.449338212,0.738927004 Z" id="XMLID_806_" fill="#E7643E" fill-rule="nonzero"></path>
										<path d="M60.6658987,37.6852772 L21.8760898,37.6852772 L8.57672675,51.5401585 C8.2073,51.9096221 7.83787324,51.7248903 7.83787324,51.170695 L7.83787324,37.6852772 L0.634051588,37.6852772" id="XMLID_805_" stroke="#414042" stroke-width="1.84736909"></path>
										<g id="XMLID_796_" transform="translate(10.054434, 13.959563)" fill-rule="nonzero" fill="#FFFFFF">
												<polygon id="XMLID_803_" points="6.46496815 0.264782177 8.86624204 0.264782177 8.86624204 10.794492 6.46496815 10.794492 6.46496815 6.54566171 2.21656051 6.54566171 2.21656051 10.794492 1.82674994e-14 10.794492 1.82674994e-14 0.264782177 2.40127389 0.264782177 2.40127389 4.6983442 6.64968153 4.6983442 6.64968153 0.264782177"></polygon>
												<polygon id="XMLID_801_" points="15.8853503 2.29683144 15.8853503 10.794492 13.4840764 10.794492 13.4840764 2.29683144 10.5286624 2.29683144 10.5286624 0.264782177 18.8407643 0.264782177 18.8407643 2.29683144"></polygon>
												<polygon id="XMLID_799_" points="30.1082803 4.14414895 27.3375796 9.87083323 25.8598726 9.87083323 23.089172 4.14414895 23.089172 10.794492 20.6878981 10.794492 20.6878981 0.264782177 23.8280255 0.264782177 26.5987261 5.99146646 29.3694268 0.264782177 32.5095541 0.264782177 32.5095541 10.794492 30.1082803 10.794492 30.1082803 4.14414895"></polygon>
												<polygon id="XMLID_797_" points="35.0955414 10.794492 35.0955414 0.264782177 37.4968153 0.264782177 37.4968153 8.76244273 41.9299363 8.76244273 41.9299363 10.794492 35.0955414 10.794492"></polygon>
										</g>
								</g>
								<path d="M283.904459,127.095445 L216.484076,127.095445 L216.484076,168.475357 L224.611465,168.475357 L224.611465,183.438629 C224.611465,183.992824 225.165605,184.177556 225.535032,183.808092 L240.496815,168.475357 L283.904459,168.475357 L283.904459,127.095445 Z" id="XMLID_794_" fill="#F5AB35" fill-rule="nonzero"></path>
								<path d="M216.299363,168.290625 L224.426752,168.290625 L224.426752,183.253897 C224.426752,183.808092 224.980892,183.992824 225.350318,183.623361 L240.312102,168.290625 L283.719745,168.290625" id="XMLID_793_" stroke="#414042" stroke-width="1.84736909"></path>
								<path d="M211.312102,94.9521201 L160.146497,94.9521201 L160.146497,126.356518 L193.210191,126.356518 L205.031847,138.548813 C205.031847,138.733545 205.216561,138.548813 205.216561,138.364082 L205.216561,126.356518 L211.312102,126.356518 L211.312102,94.9521201 Z" id="XMLID_784_" fill="#47CBD7" fill-rule="nonzero"></path>
								<path d="M160.146497,126.356518 L193.210191,126.356518 L205.031847,138.548813 C205.031847,138.733545 205.216561,138.548813 205.216561,138.364082 L205.216561,126.356518 L211.312102,126.356518" id="XMLID_783_" stroke="#414042" stroke-width="1.84736909"></path>
								<g id="XMLID_756_" transform="translate(14.777070, 33.251715)">
										<g id="XMLID_771_" transform="translate(12.929936, 12.931223)" fill-rule="nonzero" fill="#47CBD7">
												<ellipse id="XMLID_772_" cx="21.9808917" cy="23.0914689" rx="21.7961783" ry="21.7983466"></ellipse>
										</g>
										<g id="XMLID_769_" transform="translate(22.165605, 27.709763)" fill-rule="nonzero" fill="#FFFFFF">
												<polygon id="XMLID_770_" points="9.97452229 18.2884434 1.47770701 9.60605106 4.98726115 6.09614779 9.97452229 11.0839051 21.0573248 0 24.566879 3.50990327"></polygon>
										</g>
										<path d="M35.2802548,0.738927004 L35.2802548,10.7144416" id="XMLID_768_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M25.1210191,7.75873355 L26.7834395,12.1922956" id="XMLID_767_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M12.7452229,9.0518558 L19.2101911,16.6258576" id="XMLID_766_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M9.23566879,20.8746879 L13.4840764,23.2762006" id="XMLID_765_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M0.554140127,29.9265437 L10.5286624,31.5891294" id="XMLID_764_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M5.54140127,41.1951805 L10.5286624,40.2715217" id="XMLID_763_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M4.80254777,53.5722078 L13.4840764,48.5844505" id="XMLID_762_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M16.4394904,58.5599651 L19.2101911,55.2347936" id="XMLID_761_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M23.2738854,69.0896749 L26.7834395,59.6683556" id="XMLID_760_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M61.5095541,20.8746879 L57.0764331,23.2762006" id="XMLID_759_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M58,8.86712405 L51.5350318,16.6258576" id="XMLID_758_" stroke="#414042" stroke-width="1.84736909"></path>
										<path d="M45.6242038,7.57400179 L43.9617834,12.1922956" id="XMLID_757_" stroke="#414042" stroke-width="1.84736909"></path>
								</g>
								<g id="XMLID_753_" transform="translate(125.605096, 16.625858)" stroke="#414042" stroke-width="1.84736909">
										<path d="M0.184713376,4.61829378 L6.8343949,4.61829378" id="XMLID_755_"></path>
										<path d="M3.50955414,7.9434653 L3.50955414,1.29312226" id="XMLID_754_"></path>
								</g>
								<g id="XMLID_385_" transform="translate(5.541401, 136.701496)" stroke="#414042" stroke-width="1.84736909">
										<path d="M0.738853503,4.06409852 L7.38853503,4.06409852" id="XMLID_752_"></path>
										<path d="M4.06369427,7.38927004 L4.06369427,0.738927004" id="XMLID_749_"></path>
								</g>
								<g id="XMLID_367_" transform="translate(280.764331, 53.572208)" stroke="#414042" stroke-width="1.84736909">
										<path d="M1.66242038,3.69463502 L8.31210191,3.69463502" id="XMLID_374_"></path>
										<path d="M4.98726115,7.01980654 L4.98726115,0.369463502" id="XMLID_368_"></path>
								</g>
								<g id="XMLID_364_" transform="translate(11.082803, 92.365876)" stroke="#414042" stroke-width="1.84736909">
										<path d="M0.369426752,4.43356203 L7.01910828,4.43356203" id="XMLID_366_"></path>
										<path d="M3.69426752,7.75873355 L3.69426752,1.10839051" id="XMLID_365_"></path>
								</g>
								<path d="M3.32484076,106.220757 L37.4968153,106.220757" id="XMLID_363_" stroke="#414042" stroke-width="1.84736909"></path>
								<ellipse id="XMLID_178_" stroke="#414042" stroke-width="1.84736909" cx="123.019108" cy="43.781425" rx="2.21656051" ry="2.21678101"></ellipse>
								<ellipse id="XMLID_177_" stroke="#414042" stroke-width="1.84736909" cx="258.598726" cy="122.107687" rx="2.21656051" ry="2.21678101"></ellipse>
								<ellipse id="XMLID_176_" stroke="#414042" stroke-width="1.84736909" cx="14.0382166" cy="161.270819" rx="2.21656051" ry="2.21678101"></ellipse>
								<text id="CSS" fill="#FFFFFF" font-family="Montserrat-Bold, Montserrat" font-size="18.5106383" font-weight="bold">
										<tspan x="167.511943" y="116.612888">CSS</tspan>
								</text>
								<text id="JS" fill="#FFFFFF" font-family="Montserrat-Bold, Montserrat" font-size="18.5106383" font-weight="bold">
										<tspan x="239.629955" y="154.637024">JS</tspan>
								</text>
								<text id="NODE" fill="#FFFFFF" font-family="Montserrat-Bold, Montserrat" font-size="14.3971631" font-weight="bold">
										<tspan x="30.0850758" y="143.038392">NODE</tspan>
								</text>
						</g>
				</g>
				</g>
			</svg>
		default
			img(width="300" height="300" src="/icon_web-300x300.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/icon_web-300x300.png 300w, /icon_web-300x300-150x150.png 150w, /icon_web-300x300-180x180.png 180w" sizes="(max-width: 300px) 100vw, 300px")
