include ./_lists.pug
include ./_buttons.pug
include ./_svgs.pug

mixin workshop-listing(titre, resultat, description, requis, lieu, path, svgNum)
  article.course-item-lg
    header
      +select-svg(svgNum)
    section
      h2= titre
      h4= "Résultat : " + resultat
      p= description
    aside
      +course-listing(requis, '', lieu, '')
      +cta-workshop(path, "Je veux participer")(class="btn-blue")
